*.log
*.psd
*.zip
/nwjs/
/backup/
shield-helmet.jpg
sentinel_logo.png
sentinel.png
kisspng-shield-clip-art-blank-shield-logo-vector-png-5a7769fea30d66.5420570215177753586679.png
4429-game-scene-wallpaper.jpg
