html, body {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani';
  user-select: none;
}

.launcher {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width:  100vw;
  height: 100vh;
  padding: 15px;
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-image: url('../img/sentinel_splash.png');
  background-repeat: no-repeat;
  -webkit-app-region: drag;
}

.launcher > .logo {
  display: block;
  position: fixed;
  top: 50%;
  left: 0;
  width:  100vw;
  height: 50vh;
  margin: 0;
  box-sizing: border-box;
  transform: translateY(-50%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.23) 7%,rgba(0,0,0,0.99) 50%,rgba(0,0,0,0.23) 93%,rgba(0,0,0,0) 100%);

  -webkit-app-region: drag;
}

.launcher > .logo::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width:  100vw;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-size: 50%;
  background-position: center;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
}

.text {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 400;
  color: #FAFAFA;
  font-family: 'Rajdhani';
}

.text.bold {
  font-weight: 500;
}

.text.bottom_left {
  bottom: 0;
  left: 0;
}

.text.top_left {
  top: 0;
  left: 0;
}

.loader {
  float: right;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  animation: loader 2s infinite ease;
  box-sizing: border-box;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(45deg);
  }

  25% {
    transform: rotate(225deg);
  }

  50% {
    transform: rotate(225deg);
  }

  75% {
    transform: rotate(405deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
